---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: 'Montserrat-Light';
  src: url('{{site.baseurl}}/fonts/Montserrat-Light.otf');
}
@font-face {
  font-family: 'BodoniFLF-Italic';
  src: url('{{site.baseurl}}/fonts/BodoniFLF-Italic.ttf');
}



@import "bootstrap";

body {
  border-top: 5px solid $brand-primary;
}

.mycode {
  font-family: $font-family-monospace;
  font-size: $code-font-size;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color:whitesmoke;
  @extend .p-t-1;
  @extend .p-l-1;
  @extend .p-b-1;
  word-wrap: break-word;
}
.mycode__comment {
  color:#9C9E9C;
}

.player {
  @extend .text-xs-center;
  display: flex;
  cursor: pointer;
}

.player__text {
  @extend .p-l-1;
  align-self: center;
  color: $brand-primary;
  &:hover {
    text-decoration: underline;
  }
}
