
$font-family-sans-serif :'Montserrat-Light';
$headings-font-family:'bodoniflfmedium_italic';
$headings-font-weight:   bold;

$brand-primary: #3366CC;


$spacer:   1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  4: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  ),
  5: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  ),
  6: (
    x: ($spacer-x * 6),
    y: ($spacer-y * 6)
  ),
  7: (
    x: ($spacer-x * 7),
    y: ($spacer-y * 7)
  ),
  8: (
    x: ($spacer-x * 8),
    y: ($spacer-y * 8)
  ),
  9: (
    x: ($spacer-x * 9),
    y: ($spacer-y * 9)
  )
) !default;
